@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=DM+Sans:500,400,700|Montserrat:var(--subtitle-2-font-weight),var(--h-1-font-weight),var(--h-3-font-weight),var(--title-2-font-weight),var(--h-2-font-weight),800,var(--subtitle-1-font-weight),400,var(--body-2-font-weight),500|Open+Sans:700,600|Almarai:var(--section-1-font-weight),var(--body-1-font-weight),800,400,700|Manrope:800,var(--body-text-font-weight),400,var(--label-text-font-weight)|Inter:400");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
