:root {
    --primarycolor-1: rgba(74, 58, 255, 1);
    --primarycolor-2: rgba(150, 45, 255, 1);
    --neutral-colors-800: rgba(33, 31, 84, 1);
    --neutral-colors-100: rgba(255, 255, 255, 1);
    --neutral-100: rgba(255, 255, 255, 1);
    --secondary: rgba(255, 153, 0, 1);
    --neutral-300: rgba(239, 240, 246, 1);
    --textwhite: rgba(255, 255, 255, 1);
    --blue-100: rgba(239, 240, 246, 1);
    --primary: rgba(76, 74, 193, 1);
    --blue-600: rgba(81, 79, 110, 1);
    --search-blue-0da8ca: rgba(13, 168, 202, 1);
    --h-1-font-family: "Montserrat", Helvetica;
    --h-1-font-weight: 800;
    --h-1-font-size: 48px;
    --h-1-letter-spacing: 0px;
    --h-1-line-height: normal;
    --h-1-font-style: normal;
    --subtitle-1-font-family: "Montserrat", Helvetica;
    --subtitle-1-font-weight: 500;
    --subtitle-1-font-size: 24px;
    --subtitle-1-letter-spacing: 0px;
    --subtitle-1-line-height: 34px;
    --subtitle-1-font-style: normal;
    --h-3-font-family: "Montserrat", Helvetica;
    --h-3-font-weight: 800;
    --h-3-font-size: 40px;
    --h-3-letter-spacing: 0px;
    --h-3-line-height: normal;
    --h-3-font-style: normal;
    --label-text-font-family: "Manrope", Helvetica;
    --label-text-font-weight: 700;
    --label-text-font-size: 14px;
    --label-text-letter-spacing: 0.4000000059604645px;
    --label-text-line-height: 20px;
    --label-text-font-style: normal;
    --body-text-font-family: "Manrope", Helvetica;
    --body-text-font-weight: 500;
    --body-text-font-size: 16px;
    --body-text-letter-spacing: 0.20000000298023224px;
    --body-text-line-height: 24px;
    --body-text-font-style: normal;
    --h-2-font-family: "Montserrat", Helvetica;
    --h-2-font-weight: 800;
    --h-2-font-size: 44px;
    --h-2-letter-spacing: 0px;
    --h-2-line-height: normal;
    --h-2-font-style: normal;
    --subtitle-2-font-family: "Montserrat", Helvetica;
    --subtitle-2-font-weight: 400;
    --subtitle-2-font-size: 24px;
    --subtitle-2-letter-spacing: 0px;
    --subtitle-2-line-height: 32px;
    --subtitle-2-font-style: normal;
    --title-2-font-family: "Montserrat", Helvetica;
    --title-2-font-weight: 700;
    --title-2-font-size: 26px;
    --title-2-letter-spacing: 0px;
    --title-2-line-height: normal;
    --title-2-font-style: normal;
    --body-2-font-family: "Montserrat", Helvetica;
    --body-2-font-weight: 500;
    --body-2-font-size: 18px;
    --body-2-letter-spacing: 0px;
    --body-2-line-height: normal;
    --body-2-font-style: normal;
    --section-1-font-family: "Almarai", Helvetica;
    --section-1-font-weight: 400;
    --section-1-font-size: 28px;
    --section-1-letter-spacing: 0px;
    --section-1-line-height: normal;
    --section-1-font-style: normal;
    --body-1-font-family: "Almarai", Helvetica;
    --body-1-font-weight: 400;
    --body-1-font-size: 20px;
    --body-1-letter-spacing: 0px;
    --body-1-line-height: 30px;
    --body-1-font-style: normal;
    --card-shadow: 0px 15px 44px 0px rgba(8, 15, 52, 0.06);
    --testimonial: 0px 28.933399200439453px 61.560428619384766px 0px
      rgba(108, 101, 126, 0.2);
  }
  